@model KotClassLibrary.Models.RenterRoom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RenterRoom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUser.FirstName)
            @Html.DisplayFor(model => model.CustomUser.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>

<table class="table">
      <thead>
            <tr>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Status</th>
            </tr>
      </thead>
      <tbody>
          @foreach(var contract in Model.RenterContracts)
          {
            <tr>
              <td>@contract.StartDate.ToLongDateString()</td>
              <td>@contract.StartDate.AddMonths(1).AddDays(-1).ToLongDateString()</td>
                @if (!contract.IsPayed)
                {
                    if(Model.IsStoped)
                    {
                        <td>
                            Contract alredy stoped
                        </td>
                    }
                    else
                    {
                        <td class="d-flex">
                             <a class="btn btn-danger">Not Pay</a>
                            <form asp-action="Pay" method="post">
                                <input name="renterContractId" value="@contract.RenterContractId" type="number" hidden>
                                <input class="btn btn-secondary" type="submit" value="Pay">
                            </form>
                        </td>
                    }
                }
                else
                {
                    <td>
                        <a class="btn btn-primary">Payed</a>
                    </td>
                }
            </tr>
            }
      </tbody>
</table>
<div>
    @if (Model.Contract != null)
    {
        <iframe src="@FileHelper.GeneratePdf(Model.Contract)" style="min-width: 80vw; min-height: 90vh; margin: auto" type="application/pdf" allowfullscreen></iframe>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.RenterRoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
