@inject SignInManager<CustomUser> signInManager;
@model IEnumerable<KotClassLibrary.Models.RenterRoom>

@{
    ViewData["Title"] = "Renters";
}

<h1>Renter Rooms</h1>

<p>
    <a asp-action="Create">Create New Contract</a>
</p>

<div class="custom-container">
    @foreach (var item in Model) {
        var photoPath = "/Images/Profile/" + (item.CustomUser.ProfileImage ?? "avatar.png");
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.CustomUser.FirstName @item.CustomUser.LastName</h5>
                <img class="mr-3 rounded-circle"
                                 asp-append-version="true"
                                 src="@photoPath"
                                 alt="Generic placeholder image"
                                 style="max-width: 100px"/>
                <h6 class="card-subtitle mb-2 text-muted">@item.AcademicYear.StartDate.ToLongDateString()</h6>
                <p class="card-text text-center">Start From @item.StartDate To @item.EndDate</p>
                <div>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a asp-action="Edit" asp-route-id="@item.RenterRoomId" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.RenterRoomId" class="btn btn-danger">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.RenterRoomId" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    }
</div>