@inject SignInManager<CustomUser> signInManager;
@model IEnumerable<KotClassLibrary.Models.RenterRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (User.IsInRole(Roles.Admin))
                {
                    <a asp-action="Edit" asp-route-id="@item.RenterRoomId">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.RenterRoomId">Delete</a>
                }
                
                <a asp-action="Details" asp-route-id="@item.RenterRoomId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
