@model RoomEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4 class="text-center">Edit Room Number @Model.RoomNumber</h4>

<hr />

<partial name="PartialRoomImages" model="@Model.RoomImages" />

<div class="row justify-content-center">
    <div>
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label id="HouseId" class="control-label">House</label>
                <select asp-for="HouseId" asp-items="@Model.HousesSelectList" class="form-control"></select>
                <span asp-validation-for="HouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" asp-items="@RoomType.GetTypes()" class="form-control"></select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeople" class="control-label"></label>
                <input asp-for="MaxPeople" class="form-control" />
                <span asp-validation-for="MaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableFrom" class="control-label"></label>
                <input asp-for="AvailableFrom" class="form-control" />
                <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label>Room Images</label>
                <div>
                    <div class="custom-file">
                        <input asp-for="Photos" class="form-control custom-file-input" accept="image/png, image/gif, image/jpeg" multiple />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h3>Room Specification</h3>
                <table>
                    <thead>
                        <tr>
                            <th style="min-width:150px">Description</th>
                            <th style="min-width:150px">Is Available</th>
                            <th style="min-width:150px">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.RoomSpecificationsList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <label>@Model.RoomSpecificationsList[i].Specification.Description</label>
                                    <input type="hidden" asp-for="@Model.RoomSpecificationsList[i].SpecificationId" />
                                    <input type="hidden" asp-for="@Model.RoomSpecificationsList[i].RoomSpecificationId" />
                                </td>
                                <td>
                                    <input class="form-control" type="checkbox" onchange="this.value=this.checked"
                                           value="@Model.RoomSpecificationsList[i].IsAvailAble"
                                           asp-for="@Model.RoomSpecificationsList[i].IsAvailAble" />
                                </td>
                                <td>
                                    <input class="form-control" value="@Model.RoomSpecificationsList[i].WhereAvailAble"
                                           asp-for="@Model.RoomSpecificationsList[i].WhereAvailAble" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <h3>Room Expence</h3>
                <table>
                    <thead>
                        <tr>
                            <th style="min-width:150px">Description</th>
                            <th style="min-width:150px">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.RoomExpensesList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <label>@Model.RoomExpensesList[i].Expence.Description</label>
                                    <input type="hidden" asp-for="@Model.RoomExpensesList[i].ExpenceId" />
                                    <input type="hidden" asp-for="@Model.RoomExpensesList[i].RoomExpenseId" />
                                </td>
                                <td>
                                    <input value="@Model.RoomExpensesList[i].Value"
                                           asp-for="@Model.RoomExpensesList[i].Value" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js//ShowAmountPath.js"></script>
}
