@model IEnumerable<KotClassLibrary.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New Room</a>
</p>

<div class="custom-container">
    @if (Model.Any())
    {
        @foreach (Room room in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">
                  @{var roomImage = room.RoomImages != null ? $"/images/Room/{room.RoomImages.FirstOrDefault().Path}" : "/images/Profile/avatar.png";}
                    <div style="cursor:pointer; height: 20vh">
                            <img class="d-block" style="max-height: 100%; width:100%" src="@roomImage" asp-append-version="true">
                        </div>
              </div>

              <div class="card-body">
                <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-white d-block">@room.House.Name</h6>
                                <div>
                                     <p>House Name : @room.House.Name</p>
                                    <p>Room Number : @room.RoomNumber</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@room.RoomId" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@room.RoomId" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@room.RoomId" class="btn btn-danger">Delete</a>
                        </div>
              </div>
            </div>
        }
    }
    else
    {
        <p>No Rooms</p>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
