@inject SignInManager<CustomUser> signInManager;
@model IEnumerable<CustomUser>

@{
    ViewData["Title"] = "users";
}
@section Style{
    <link rel="stylesheet" href="~/css/User.css" />
}

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New User</a>
</p>
<div class="custom-container">
    @foreach (var user in Model)
    {
        var photoPath = "/Images/Profile/" + (user.ProfileImage ?? "avatar.png");
        <div style="width: 300px">
            <div class="card text-white card-has-bg click-col custom-background"
                 style=" background-image: url('/Images/General/sky_back.jpg'); ">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <div class="media">
                           @* <img class="mr-3 rounded-circle"
                                 asp-append-version="true"
                                 src="@photoPath"
                                 alt="Generic placeholder image"
                                 style="max-width: 50px" />*@
                                  <div class="custom-background rounded-circle"  style=" background-image: url('@photoPath');"></div>
                            <div class="media-body">
                                <h6 class="my-0 text-white d-block">@user.LastName</h6>
                                <small>@user.FirstName</small>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">Details</a>
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>