@model IEnumerable<KotClassLibrary.Models.House>

@{
    ViewData["Title"] = "Houses";
}

<h1>Houses</h1>

<p>
    <a asp-action="Create">Create New House</a>
</p>

<div class="custom-container">
    @foreach (var item in Model) {
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.ZipCode.City @item.StreetName</h6>
            <p class="card-text text-center">@item.Description</p>
            <div>
                <a asp-action="Edit" asp-route-id="@item.HouseId" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.HouseId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.HouseId" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    }
</div>