@model ICollection<Room>

@if (Model.Any())
    {
    @foreach (Room room in Model)
    {
        int roomId = room.RoomId;
        var carouselId = ModalHelper.GetCarouselId(roomId);
        var modalCarouselId = ModalHelper.GetModalCarouselId(roomId);
        var modalId = ModalHelper.GetModalId(roomId);
        <div class="card" style="width: 18rem;">
            <div class="card-img-top">
                @if (room.RoomImages.Any())
                {
                    <div>
                        <div id="@carouselId" class="carousel slide col-12 p-0" data-ride="@modalCarouselId">
                             <ol class="carousel-indicators">
                                <li data-target="#@carouselId" data-slide-to="0" class="active"></li>
                                @for(int i = 1; i < room.RoomImages.Count(); i++)
                                {
                                    <li data-target="#@carouselId" data-slide-to="@i"></li>
                                }
                              </ol>
                            <div class="carousel-inner">
                                @{var teller3 = 0;}
                                @foreach (var image in room.RoomImages)
                                {
                                    var img = "/images/Room/" + (image.Path ?? "default_room.jpg");
                                    var activeClass = "";
                                    if (teller3 == 0)
                                    {
                                        activeClass = "active";
                                    }
                                    <div style="cursor:pointer;" class="carousel-item @activeClass" data-toggle="modal" data-target="#@modalId">
                                        <div data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')"></div>
                                        @*<img src="@img" data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh" />*@
                                    </div>
                                    teller3++;

                                }
                            </div>
                            <a class="carousel-control-prev" href="#@carouselId" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@carouselId" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                }
                else
                {

                    <div style="cursor:pointer; height: 30vh; background-image : url('/images/Room/default_room.jpg');background-position: center;background-size: cover;">

                    </div>
                }
            </div>

            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <div class="d-flex justify-content-between" style="min-width: 200px">
                            <p>@room.House.StreetName</p>
                            <p>@room.Price€</p>
                        </div>
                        <div class="d-flex justify-content-between" style="min-width: 200px">
                            <p>@room.House.ZipCode.City</p>
                            <p>22m</p>
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Details" asp-controller="Room" asp-route-id="@room.RoomId" class="btn btn-info" style="cursor:pointer">Details</a>
                </div>
            </div>
        </div>
        <partial name="PartialModal" model="@room.RoomImages"/>
    }
}
else
{
    <p>No Room Founded</p>
}