@model ICollection<Room>

@if (Model.Any())
    {
    @foreach (Room room in Model)
    {
        var carouselId = "carousel-" + room.RoomId;
        var modalCarouselId = "modal-carousel-" + room.RoomId;
        var modalId = "Modal-" + room.RoomId;
        <div class="card" style="width: 18rem;">
            <div class="card-img-top">
                @if (room.RoomImages.Any())
                {
                    <div>
                        <div id="@carouselId" class="carousel slide col-12 p-0" data-ride="@modalCarouselId">
                            <div class="carousel-inner">
                                @{var teller3 = 0;}
                                @foreach (var image in room.RoomImages)
                                {
                                    var img = "/images/Room/" + (image.Path ?? "default_room.jpg");
                                    if (teller3 == 0)
                                    {
                                         <div style="cursor:pointer;" class="carousel-item active" data-toggle="modal" data-target="#@modalId">
                                                <div data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')"></div>
                                        </div>
                                    }
                                    else
                                    {
                                         <div style="cursor:pointer;" class="carousel-item" data-toggle="modal" data-target="#@modalId">
                                                <div data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')"></div>
                                        </div>
                                    }
                                    teller3++;

                                }
                            </div>
                            <a class="carousel-control-prev" href="#@carouselId" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@carouselId" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                }
                else
                {

                    <div style="cursor:pointer; height: 30vh; background-image : url('/images/Room/default_room.jpg');background-position: center;background-size: cover;">

                    </div>
                }
            </div>

            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <h6 class="my-0 text-white d-block">@room.House.Name</h6>
                        <div>
                            <p>House Name : @room.House.Name</p>
                                <p>Price : @room.Price$</p>
                            <p>Room Number : @room.RoomNumber</p>
                                @if(room.IsAvailable)
                                {
                                    <p>Available from @room.AvailableFrom.ToLongDateString()</p>
                                }
                                else{
                                    <p>Not available</p>
                                }
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Details" asp-controller="Room" asp-route-id="@room.RoomId" class="btn btn-info" style="cursor:pointer">Details</a>
                </div>
            </div>
        </div>
        <partial name="PartialModal" model="@room.RoomImages"/>

        @*<div class="modal fade" id="@modalId.ToUpper()" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="@modalCarouselId" class="carousel slide text-center" data-ride="@modalCarouselId">
                            <div class="carousel-inner">
                                @if (room.RoomImages.Any())
                                {
                                    var teller2 = 0;
                                    foreach (var image in room.RoomImages)
                                    {
                                            var img = "/images/Room/" + (image.Path ?? "default_room.jpg");
                                        if (teller2 == 0)
                                        {
                                            <div class="carousel-item active row">
                                                    <div class="custom-background" style="background-image: url('@img')"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                    <div class="custom-background" style="background-image: url('@img')"></div>
                                            </div>
                                        }
                                        teller2++;
                                    }   
                                }
                            </div>
                            <a class="carousel-control-prev ml-auto" href="#@modalCarouselId" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next mr-auto" href="#@modalCarouselId" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@

    }
}
else
{
    <p>No Room Founded</p>
}