@using Microsoft.Extensions.DependencyInjection
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits OwningComponentBase

@if (isLoading)
{
    <div class="custom-spinner show-spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
<div class="m-2">
    <label>Fitler </label>
    <select @onchange="FilterOnHouse" >
        <option value="0">House</option>
        @if(Houses.Any())
        {
            @foreach (var house in Houses)
            {
                <option value="@house.HouseId">@house.Name</option>
            }
        }
     </select>

     <select @onchange="FilterOnZipCode" >
        <option value="0">City</option>
        @if(Houses.Any())
        {
            @foreach (var zipCode in ZipCodes)
            {
                <option value="@zipCode.ZipCodeId">@zipCode.City</option>
            }
        }
     </select>
</div>
<div class="custom-container" style="margin-top: 20px">
    @if (SortedRooms.Any())
    {
        @foreach (Room room in SortedRooms)
        {
            var carouselId = "carousel-" + room.RoomId;
            var modalCarouselId = "modal-carousel-" + room.RoomId;
            var modalId = "modal-" + room.RoomId;
            <div class="card" style="width: 18rem;">
              <div class="card-img-top">
                  @if (room.RoomImages.Any())
                    {
                        <div>
                            <div id="@carouselId" class="carousel slide col-12 p-0" data-ride="@modalCarouselId">
                                <div class="carousel-inner">
                                    @{var teller3 = 0;}
                                    @foreach (var image in room.RoomImages)
                                    {
                                        var img = "/images/Room/" + (image.Path ?? "default_room.jpg");
                                        if (teller3 == 0)
                                        {
                                            @*<div class="carousel-item active custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')" data-toggle="@modalId" data-target="#@modalId"></div>*@
                                             <div style="cursor:pointer;" class="carousel-item active" data-toggle="modal" data-target="#@modalId.ToUpper()">
                                                 <div data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')"></div>
                                            </div>
                                        }
                                        else
                                        {
                                             @*<div class="carousel-item custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')" data-toggle="@modalId" data-target="#@modalId">
                                            </div>*@
                                            <div style="cursor:pointer;" class="carousel-item" data-toggle="modal" data-target="#@modalId.ToUpper()">
                                                 <div data-target="#@modalCarouselId" data-slide-to=@teller3  class="custom-background" style="cursor:pointer; height: 30vh; background-image : url('@img')"></div>
                                            </div>
                                        }
                                        teller3++;

                                    }
                                </div>
                                <a class="carousel-control-prev" href="#@carouselId" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#@carouselId" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div style="cursor:pointer; height: 30vh; background-image : url('/images/Room/default_room.jpg');background-position: center;background-size: cover;">

                        </div>
                    }
              </div>

              <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h6 class="my-0 text-white d-block">@room.House.Name</h6>
                            <div>
                                <p>House Name : @room.House.Name</p>
                                 <p>Price : @room.Price$</p>
                                <p>Room Number : @room.RoomNumber</p>
                                    @if(room.IsAvailable)
                                    {
                                        <p>Available from @room.AvailableFrom.ToLongDateString()</p>
                                    }
                                    else{
                                        <p>Not available</p>
                                    }
                            </div>
                        </div>
                    </div>
                    @if(!IsNormalUser)
                    {
                         <div>
                            <a @onclick="() => EditRoom(room.RoomId)" class="btn btn-primary" style="cursor:pointer">Edit</a>
                            <a @onclick="() => DetailsRoom(room.RoomId)" class="btn btn-info" style="cursor:pointer">Details</a>
                            <a @onclick="() => DeleteRoom(room.RoomId)" class="btn btn-danger" style="cursor:pointer">Delete</a>
                        </div>
                    }
                     else
                    {
                        <div>
                            <a @onclick="() => DetailsRoom(room.RoomId)" class="btn btn-info" style="cursor:pointer">Details</a>
                        </div>
                    }
              </div>
            </div>

            <div class="modal fade" id="@modalId.ToUpper()" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close default-transition" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fa-solid fa-xmark text-white "></i></span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="@modalCarouselId" class="carousel slide text-center" data-ride="@modalCarouselId">
                                <div class="carousel-inner">
                                    @if (room.RoomImages.Any())
                                    {
                                        var teller2 = 0;
                                        foreach (var image in room.RoomImages)
                                        {
                                                var img = "/images/Room/" + (image.Path ?? "default_room.jpg");
                                            if (teller2 == 0)
                                            {
                                                <div class="carousel-item active">
                                                        <div class="custom-background" style="background-image: url('@img')"></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="carousel-item">
                                                        <div class="custom-background" style="background-image: url('@img')"></div>
                                                </div>
                                            }
                                            teller2++;
                                        }   
                                    }
                                </div>
                                <a class="carousel-control-prev ml-auto" href="#@modalCarouselId" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next mr-auto" href="#@modalCarouselId" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>@message</p>
    }
</div>

@code {
    public IBlazorRepository BlazorRepository => ScopedServices.GetService<IBlazorRepository>();
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public ICollection<Room> Rooms = new List<Room>();
    public ICollection<House> Houses = new List<House>();
    public ICollection<Room> SortedRooms = new List<Room>();
    public ICollection<ZipCode> ZipCodes = new List<ZipCode>();
    public bool isLoading { get; set; } = true;
    public string message { get; set; } = "Loading";

    public bool IsNormalUser { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole(Roles.Admin) || user.IsInRole(Roles.Owner))
        {
            IsNormalUser = false;
        }

        Rooms = await BlazorRepository.GetRooms();
        Houses = await BlazorRepository.GetHouses();
        ZipCodes = await BlazorRepository.GetZipCodes();
        SortedRooms = Rooms;
        isLoading = false;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (!SortedRooms.Any())
        {
            message = "No rooms";
        }
    }
    protected void SortRooms()
    {
        isLoading = true;
        var st = Rooms.Where(r => r.RoomId == 1).ToList();
        SortedRooms = st;
        isLoading = false;
    }
    protected  void FilterOnHouse(ChangeEventArgs e)
    {
        isLoading = true;
        int.TryParse(e.Value.ToString(), out int houseId);
        if(houseId == 0)
        {
            SortedRooms = Rooms;
        }
        else
        {
            SortedRooms = Rooms.Where(r => r.HouseId == houseId).ToList();
        }  
        isLoading = false;
    }
    protected  void FilterOnZipCode(ChangeEventArgs e)
    {
        isLoading = true;
        int.TryParse(e.Value.ToString(), out int zipId);
        if(zipId == 0)
        {
            SortedRooms = Rooms;
        }
        else
        {
            SortedRooms = Rooms.Where(r => r.House.ZipCodeId == zipId).ToList();
        }  
        isLoading = false;
    }
    // links
    public void EditRoom(int roomId)
    {
        NavigationManager.NavigateTo($"Room/edit/{roomId}", true);
    }
    public void DetailsRoom(int roomId)
    {
        NavigationManager.NavigateTo($"Room/Details/{roomId}", true);
    }
    public void DeleteRoom(int roomId)
    {
        NavigationManager.NavigateTo($"Room/Delete/{roomId}", true);
    }
}
